.feedbacks {
    padding-top: 150px;
    @include media-mobile {
        padding-top: 100px;
    }
}

.feedbacks__wrapper {}

.feedbacks__title {
    margin-bottom: 11px;
    text-align: center;
}

.feedbacks__text {
    margin-bottom: 130px;
    text-align: center;
    @include media-mobile {
        margin-bottom: 50px;
    }
}

.feedback {
    display: flex;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: -20%;
        left: -20%;
        height: 0;
        width: 121.5%;
        height: 90%;
        background-color: $color-background;
        z-index: -2;
    }
    @include media-mobile {
        flex-wrap: wrap;
        gap: 30px;
        &::after {
            width: 120%;
            height: 94%;
            top: -5%;
            left: -30%;
        }
    }
    @include media-mobile-mini {
        &::after {
            width: 130%;
        }
    }
}

.feedback__img {
    position: relative;
    flex: 1;
    &::after {
        content: '';
        position: absolute;
        top: 3%;
        left: 3%;
        width: 413px;
        height: 365px;
        border: 2px solid $color-primary;
        z-index: -1;
    }
    @include media-tablet {
        &::after {
            width: 312px;
            height: 268px;
        }
    }
    @include media-mobile {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        margin-bottom: 20px;
        &::after {
            top: 5%;
            left: 25%;
        }
    }
    @include media-mobile-small {
        &::after {
            width: 200px;
            height: 165px;
            top: 5%;
            left: 0%;
        }
    }
    @include media-mobile-mini {
        &::after {
            display: none;
        }
    }
}

.feedback__image {
    width: 413px;
    @include media-tablet {
        width: 313px;
    }
    @include media-mobile {}
    @include media-mobile-small {
        width: 200px;
    }
    @include media-mobile-mini {}
}

.feedback__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-mobile {
        flex-basis: 100%;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}

.feedback__text {
    @include font($size: 2.5rem, $weight: 400, $height: 4rem, $spacing: 0.03em);
    color: $color-dark;
    max-width: 535px;
    @include media-tablet {
        @include font($size: 2rem, $weight: 400, $height: 3rem, $spacing: 0.03em);
    }
    @include media-mobile {
        max-width: 335px;
        @include font($size: 1.6rem, $weight: 400, $height: 2.4rem, $spacing: 0.03em);
    }
}

.feedback__author {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.feedback__author-name {
    @include font($size: 2rem, $weight: 700, $height: 2rem, $spacing: 0.03em);
    color: $color-dark;
    @include media-tablet {
        @include font($size: 1.5rem, $weight: 700, $height: 1.5rem, $spacing: 0.03em);
    }
}

.feedback__author-work {
    @include font($size: 1.4rem, $weight: 700, $height: 1.4rem, $spacing: 0.03em);
    @include media-tablet {
        @include font($size: 1rem, $weight: 700, $height: 1rem, $spacing: 0.03em);
    }
}