.footer {
    padding-top: 200px;
    padding-bottom: 104px;
    @include media-mobile {
        padding-top: 100px;
        padding-bottom: 54px;
    }
    @include media-mobile-small {}
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @include media-tablet {}
    @include media-mobile {
        flex-wrap: wrap;
    }
    @include media-mobile-small {}
}

.footer__text {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    @include media-mobile {
        max-width: 100%;
        flex-basis: 100%;
    }
}

.footer-menu {
    display: flex;
    gap: 70px;
    @include media-mobile {
        flex-basis: 100%;
        justify-content: space-between;
    }
}

.footer-menu__title {
    margin-bottom: 1.6rem;
}

.footer-menu__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}