.footer {
    padding-top: 200px;
    padding-bottom: 104px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    max-width: 450px;
}

.footer-menu {
    display: flex;
    gap: 70px;
}

.footer-menu__title {
    margin-bottom: 1.6rem;
}

.footer-menu__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}