.promo {
    padding-top: 20px;
    position: relative;
    overflow: hidden;
}

.promo__wrapper {
    display: flex;
    justify-content: space-between;
}

.promo__content {
    flex-basis: 55%;
    flex-shrink: 0;
}

.promo__title {
    margin-bottom: 26px;
}

.promo__text {
    margin-bottom: 26px;
}

.promo__button {
    // margin-bottom: 100px;
}

.promo__img {
    flex-basis: 40%;
    position: relative;
    z-index: 2;
    display: flex;
    // overflow: hidden;
}

.promo__image {
    align-self: flex-end;
    margin-top: -40px;
    margin-left: -37px;
}

.promo__circle-elem {
    position: absolute;
    left: 45%;
    top: 30%;
    width: 1240px;
    height: 1240px;
    border-radius: 50%;
    background-color: $color-primary;
    z-index: -1;
}

.card-profile {
    position: absolute;
    left: -5px;
    bottom: 83px;
    width: 144px;
    height: 178px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px -24px 34px rgba(199, 201, 217, 0.15);
    border-radius: 10px;
    z-index: 5;
}

.card-profile__img {
    width: 100%;
}