//colors
$color-primary: #4D77FF;
$color-dark:#121212;
$color-light: #ffffff;
$color-text:#696969;
//content width
$content-width: 1270px;
$tablet-width: 996px;
$mobile-big-width: 776px;
$mobile-small-width: 590px;
$mobile-mini-width: 280px;