@mixin font ($size, $height, $weight, $spacing) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
}

// @mixin columns($width) {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     >* {
//         flex-basis: $width;
//     }
// }
// @mixin flex($direction, $gap, $justify-content, $align-items) {
//     display: flex;
//     flex-direction: $direction;
//     gap: $gap;
//     justify-content: $justify-content;
//     align-items: $align-items;
// }
@mixin media-laptop {
    @media(max-width: $content-width) {
        @content;
    }
}

@mixin media-tablet {
    @media(max-width: $tablet-width) {
        @content;
    }
}

@mixin media-mobile {
    @media(max-width: $mobile-big-width) {
        @content;
    }
}

@mixin media-mobile-small {
    @media(max-width: $mobile-small-width) {
        @content;
    }
}

@mixin media-mobile-mini {
    @media(max-width: $mobile-small-width) {
        @content;
    }
}